insightface==0.7.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mmcv==2.1.0
numpy==1.26.1
onnx==1.15.0
onnxruntime==1.16.1
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
Pillow==10.0.1